name: check
on:
  push:
  pull_request:
  schedule:
  - cron: 45 4 * * 4
jobs:
  check:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        ruby:
        - '1.9.3'
        - '2.7'
        - '3.0'
        - '3.1'
        - '3.2'
        - '3.3'
        - '3.4'
        - jruby-9.4
        - jruby-10.0
      fail-fast: false
    steps:
    - uses: actions/checkout@v5
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: true
    - run: bundle exec rspec
